.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:10px 5px 10px 35px;
background-repeat: no-repeat;
background-position: 5px center;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight: bold;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../img/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../img/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../img/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../img/error.png');
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('../img/validation.png');
}
